/**
 * ----------------------------------------
 * 이진호
 * LJview css 모음
 * ----------------------------------------
 */


/* 웹 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic&family=Nanum+Gothic+Coding:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

/**font**/
@font-face {
    font-family: 'InfinitySans-RegularA1';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}




/* 공통 */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'InfinitySans-RegularA1';
}

/*plan - planDetail */
.planL-navbox__li--big, .planL-titlebox--span__big {
    font-family: 'InfinitySans-RegularA1';
    font-weight: bold;
}

.header {
	z-index: 1;		
}

.jumbotron {
	position: absolute;
/* 	background-color: #00cc99; */
	background-image: url('image/myPlanner/sunset.png');
	top: 55px;
	width:100%;
	height: 200px;
	z-index: 0;
}

.planL-container {
    width: 1300px;
    margin: 57px auto 18px auto;
    overflow: hidden;
    position: relative;
}



.planL-navbox__long {
    width: 260px;
    height: 68%;
    position: absolute;
    display: inline-block;
    margin: 10px auto auto auto;
    background-color: #75CFB8;
    z-index: 3;
    padding-top: -250px;
}


.planL-navbox__a--blue:hover {
    color: #000000;
    transition: all 0.5s; 
}


.planL-navbox {
    width: 260px;
    height: 300px;
    position: sticky;
    margin: 0px auto 100px auto;
    top: 0px;
    left: 0px;
}

.planL-navbox__ul--blue {
    list-style-type: none;
    margin: 28px 0 0 22px;
    padding: 0;
    color: white;
    width: 170px;
    font-weight: 700;
}


.planL-navbox__li--big {
    height: 56px;
    width: 239px;
    font-size: 40px;
    color: white;
    border-bottom: 3.3px solid #ffffff;
    line-height: 60px;
    text-shadow: 4px 4px 0px #1565C0;
}

.planL-navbox__li--id {
	margin-top: 5px;
}

.planL-navbox__li--small {
    margin: 40px 0 30px 6px;
}

.planL-navbox svg {
	width: 28px;
	height: 28px;
}



.planL-navbox__a--blue {
    font-size: 22px;
    text-decoration: none;
    color: white;
    font-family: 'InfinitySans-RegularA1';
    font-weight: bold;
    text-shadow: 4px 3px 6px gray;
}

.planL-navbox__img--small {
    width: 18px;
    height: 18px;
    vertical-align: sub;
}

.planL-planbox {
    float: right;
    width: 1030px;
    margin: -97px 10px 70px 0px;
}



.planL-titlebox--span__big {
    font-size: 34px;
    font-weight: bold;
    display: inline-block;
    margin: 23px 10px 0 26px;
}


.planL-titlebox--button__blue:hover {
	color: #f8f7f7;
	text-shadow: 3px 2px 3px gray;
}
.planL-titlebox--button__blue:hover:after {
	left: auto;
  	right: 0;
  	width: 100%;
  	border-radius: 6px;
}

.planL-titlebox--button__blue:after {
	position: absolute;
  	content: "";
  	background: linear-gradient(to right, #75CFB8, #BBDFC8, #F0E5D8, #FFC478);
  	width: 0;
  	height: 100%;
  	top: 0;
  	left: 0;
 	direction: rtl;
  	z-index: -1;
  	box-shadow:
   		-7px -7px 20px 0px #fff9,
   		-4px -4px 5px 0px #fff9,
  		 7px 7px 20px 0px #0002,
   		 4px 4px 5px 0px #0001;
  	transition: all 0.3s ease;
}

.planL-titlebox--button__blue {
    width: 190px;
    height: 60px;
    float: right;
    position: relative;
    margin: 20px 0px 0 0;
    border: none;
    border-radius: 6px;
    background: linear-gradient(to right, #75CFB8, #BBDFC8);
    color: #f8f7f7;
    text-shadow: 4px 2px 4px gray;
    font-family: 'InfinitySans-RegularA1';
    font-size: 26px;
    font-weight : bold;
    cursor: pointer;
    z-index: 2;
}

.planL-listbox {
/*     border: 3px solid #666666; */
    width: 100%;
    height: auto;
    min-height: 400px;
/*     position: absolute; */
    margin: 107px 20px 0px 10px;
    background-color: #f8f7f7;
}


.planL-detailbox {
    width: 304px;
    height: 250px;
    right: 10px;
    border: 1px solid #cacdd1;
    border-radius: 10px;
    display: inline-block;
    margin: 13px 18px 20px 17px;
    box-shadow: 1px 2px 5px #CDCECF;
    z-index: 2;
}

.planL-map:hover {
	 color: #fff;
}
.planL-map:hover:after {
	 top: 0;
     height: 100%;
}
.planL-map:after {
	position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1); 
    z-index: 3;
    border-radius: 5px;
    box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}
.planL-detailmap {
    width: 300px;
    height: 175px;
    cursor: pointer;
    border-bottom: 3px solid #666666;
    z-index: 2;
}

.planL-map {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}

.planL-detailinfo {
    width: 100%;
    height: 74px;
    position: relative;
    background-color: #F0E5D8;
}

.planL-detailinfo__span--date {
    font-size: 17px;
    position: absolute;
    top: 9px;
    left: 15px;
    font-family: 'InfinitySans-RegularA1';
    font-weight: bold;
}

.planL-detailinfo__span--dday {
    font-size: 18px;
    font-weight: bolder;
    position: absolute;
    bottom: 12px;
    left: 16px;
    display: inline-block;
    max-width: 190px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.planL-detailinfo__span--days { /*days*/
    font-size: 19px;
    position: absolute;
    top: 8px;
    right: 20px;
    font-family: 'InfinitySans-RegularA1';
    font-weight: 600;
}


.planL-detailinfo__button--blue:hover {
	color: white;
	background-color: black;
    transition: all 0.5s; 
}
.planL-detailinfo__button--blue {
    width: 68px;
    height: 30px;
    position: absolute;
    top: 37px;
    right: 20px;
    background-color: #808080;
    color: white;
    border: none;
    border-radius: 7px;
    font-family: 'InfinitySans-RegularA1';
    font-weight: bolder;
    line-height: 25px;
    cursor: pointer;
}

.planL-popupcontainer {
    position: absolute;
    z-index: 10;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0, 0, 0, 0.8);
    overflow: auto;
}

.planL-popbox {
/*     width: 700px; */
/*     height: 450px; */
	width: 800px;
	height: 520px;
    position: relative;
    z-index: 8;
    box-shadow: 3px 3px 5px black;
    margin: 150px auto;
    cursor: pointer;
    text-align: center;
    background: linear-gradient(to right, #75CFB8, #BBDFC8, #F0E5D8, #FFC478);
}

.planL-popheadbox {
    width: 693px;
    height: 45px;
/*     border: 4px solid #abb2c7;  width: 693px;  height: 80px;  */
    position: relative;
}

.planL-popheadbox__span--big {
    position: absolute;
    top: 30px;
    left: 70px;
    color: black;
    font-size: 55px;
    font-weight: bold;
    font-family: 'InfinitySans-RegularA1';
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

input:focus {
	outline:none;
}

.planL-popcontentbox {
    height: 360px;
    width: 693px;
/*     border-left: 4px solid #abb2c7; */
/*     border-right: 4px solid #abb2c7; */
/*     border-bottom: 4px solid #abb2c7; */
}

.planL-popdetailbox {
	top: 70px;
	left: 45px;
    width: 100%;
    height: 60px;
    position: relative;
}

.planL-popdetailbox__span--big {
    width: 96px;
    height: 38px;
    font-size: 25px;
	color: white;
	text-shadow: 2px 2px 6px black;
    position: absolute;
    top: 38px;
    left: 125px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 4px solid black;
    font-family: 'InfinitySans-RegularA1';
    font-weight: bold;
}

.planL-popdetailbox__span--small {
    position: absolute;
    top: 44px;
    right: 255px;
    color: white;
    font-weight: bolder;
}


select::-ms-expand {
   display: none;
}


.planL-popdetailbox__input--gray {
    position: absolute;
    top: 36px;
    right: 100px;
    width: 350px;
    height: 40px;
    border: 2.5px solid #737373;
    font-size: 16px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 4px solid black;
}

.planL-popdetailbox__input--date {
    width: 150px;
    height: 40px;
    margin-left: 94px;
    margin-right: -49px;
    margin-top: 36px;
    border: 2.5px solid #737373;
    font-size: 14px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 4px solid black;
}


.planL-popbtnbox {
	position: relative;
	top: 100px;
	left: 130px;
}


.planL-popbtnbox__input--blue:hover {
	background: linear-gradient(to right, #75CFB8, #BBDFC8, #F0E5D8, #FFC478);
	text-shadow: 4px 2px 8px white;
	color: black;
    transition: all 0.5s; 
    box-shadow: 2px 2px 4px gray;
}

.planL-popbtnbox__input--blue {
    width: 130px;
    height: 55px;
    background-color: #4d4d33;
    color: white;
    border: none;
    border-radius: 7px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'InfinitySans-RegularA1';
    margin: 30px 25px auto auto;
    cursor: pointer;
}

.planL-popbtnbox__button--gray:hover {
	transition: all 0.5s; 
	background: black;
}
.planL-popbtnbox__button--gray {
    width: 130px;
    height: 55px;
    background-color: #a3a375;
    color: white;
    border: none;
    border-radius: 7px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'InfinitySans-RegularA1';
    margin: 30px 25px auto auto;
}


/* planDetail */

.planD-container {
    width: 1300px;
    margin: 0px auto 0px auto;
    overflow: hidden;
    position: relative;
}


.planL-navbox__long {
    width: 260px;
    height: 73.9%;
    position: absolute;
    display: inline-block;
    margin: 10px auto auto auto;
    background: linear-gradient(to right, #75CFB8, #BBDFC8);
    z-index: 3;
    padding-top: -250px;
}


.planL-navbox__a--blue:hover {
    color: #000000;
}


.planL-navbox {
    width: 260px;
    height: 300px;
    position: sticky;
    margin: 40px auto 100px auto;
    top: 0px;
    left: 0px;
}

.planD-navbox__ul--blue {
    list-style-type: none;
    margin: 25px 0 0 22px;
    padding: 0;
    color: white;
    width: 170px;
    font-weight: 700;
}

.planD-navbox__li--big {
    height: 56px;
    font-size: 20px;
    color: white;
    border-bottom: 3px solid #abb2c7;
    line-height: 60px;
    font-family: 'InfinitySans-RegularA1';
    font-weight: bold;
}

.planD-navbox__li--small {
    margin: 30px 0 30px 6px;
}

.planD-navbox__a--blue {
    font-size: 17px;
    text-decoration: none;
    color: white;
    font-family: 'InfinitySans-RegularA1';
    font-weight: bold;
}

.planD-navbox__img--small {
    width: 18px;
    height: 18px;
    vertical-align: sub;
}

.planD-planbox {
    float: right;
    width: 1000px;
    margin: 40px auto;
}

.planD-titlebox {
    width: 100%;
    height: 325px;
}

.planD-imgbox {
    width: 100%;
    height: 310px;
    position: relative;
}

.planD-imgbox--img__big {
	margin-top: 30px;
    width: 100%;
    height: 280px;
}

.planD-titledetail {
    position: absolute;
    top: 85px;
    left: 0px;
    color: black;
    font-size: 60px;
    font-weight: bold;
}

.planD-titledays {
    position: absolute;
    top: 180px;
    left: 0px;
    color: black;
    font-size: 26px;
    font-weight: bold;
}

.planD-titleIntro {
    position: absolute;
    top: 220px;
    left: 0px;
    color: black;
    font-size: 22px;
    font-weight: bold;
}

.planD-btnbox {
    width: 1000px;
    height: 215px;
/*     border: 3px solid #666666; */
    position: relative;
    top: -5px;
    margin: auto -60px auto auto;
}

.planD-btnbox-detail{
	width: 1000px;
	height: 150px;
	position: relative;
	top: 60px;
}






.planD-btnbox__button--blue:hover {
	color: #f8f7f7;
	background: linear-gradient(to right, #75CFB8, #BBDFC8, #F0E5D8, #FFC478);
	text-shadow: 2px 2px 2px gray;
}
.planD-btnbox__button--blue:hover:after {
	left: auto;
  	right: 0;
  	width: 100%;
  	border-radius: 6px;
}

.planD-btnbox__button--blue:after {
	position: absolute;
  	content: "";
  	background: linear-gradient(to right, #75CFB8, #BBDFC8, #F0E5D8, #FFC478);
  	width: 0;
  	height: 100%;
  	top: 0;
  	left: 0;
 	direction: rtl;
  	z-index: -1;
  	border-radius: 6px;
  	box-shadow:
   		-7px -7px 20px 0px #fff9,
   		-4px -4px 5px 0px #fff9,
  		 7px 7px 20px 0px #0002,
   		 4px 4px 5px 0px #0001;
  	transition: all 0.3s ease;
}

.planD-btnbox__button--blue {
    width: 120px;
    height: 60px;
    position: relative;
    top: 120px;
    left: 680px;
    color: white;
    font-size: 32px;
    background: linear-gradient(to right, #75CFB8, #BBDFC8);
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-family: 'InfinitySans-RegularA1';
    text-shadow: 2px 2px 6px gray;
    cursor: pointer;
}


.planD-btnbox__button--gray:hover {
     background-color: black;
	 color: white;
     transition: all 0.8s; 
}
.planD-btnbox__button--gray {
    width: 120px;
    height: 60px;
    position: relative;
    top: 120px;
    left: 694px;
    color: white;
    font-size: 32px;
    background-color: #cacdd1;
    border: none;
    border-radius: 10px;
    font-family: 'InfinitySans-RegularA1';
    font-weight: bold;
    cursor: pointer;
}

.planD-listbox {
    width: 99.7%;
    margin: 0px auto;
    display: inline-block;
    
}

.planD-detailbox {
    width: 100%;
    margin: 30px auto;
}

.planD-datebox {
    height: 60px;
/*     border: 3px solid #666666; */
}

.planD-days {
    display: inline-block;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #75CFB8, #BBDFC8, #F0E5D8, #FFC478);
    text-shadow: 3px 3px 6px gray;
/*     border: 3px solid #ffffff; */
    color: black;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    line-height: 57px;
    box-shadow: 0px 0px 8px #000;
}

.planD-date {
    display: inline-block;
    width: 150px;
    height: 100%;
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px;

}

.planD-detail {
    height: 180px;
/*     border-left: 3px solid #666666; */
    border-bottom: 3px solid black;
/*     border-right: 3px solid #666666; */
	box-shadow: 0px 0px 8px #000;

}

.planD-detailnumber {
    display: inline-block;
    width: 107px;
    height: 100%;
    text-align: center;
    line-height: 160px;
}

.planD-detailnumber__img--navy {
    width: 40px;
    height: 40px;
    margin-bottom: -12px;
}

.planD-detailplace {
    float: right;
    right: 120px;
    position: relative;
    width: 750px;
    height: 100%;
    color: #404040;
}

.planD-detailtime__span--small {
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    top: 18px;
    color: #666666;
}

.planD-detailplace__span--small {
    font-size: 32px;
    font-weight: 600;
    position: absolute;
    top: 60px;
    left: -5px;
    display: inline-block;
    max-width: 462px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.planD-detailinfo__span--small {
    position: absolute;
    top: 120px;
    font-size: 18px;
    font-weight: 600;
    color: #666666;
}

.planD-detailimg {
    float: right;
    background-color: burlywood;
    border: 1px solid #cacdd1;
    width: 260px;
    height: 150px;
    left: 116px;
    margin: 13px 10px 10px 10px;
}

.planD-mapbox {
    position: relative;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid black;
}

.mapbox {
    position: absolute;
    width: 100%;
    height: 100%;
}

.planD-map {
    width: 100%;
    height: 400px;
    top: 30px;
    border-bottom: 1px solid #cacdd1;
    background-color: burlywood;
}

.planD-selectbox__select--day {
    width: 90px;
    height: 35px;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #808080;;
    color: black;
}

.planD-selectbox__select--day:focus {
    border: 3px solid #666666;
    outline: none;
}

.planD-selectbox {
    position: absolute;
    top: 360px;
    left: 10px;
    height: 200px;
    z-index: 1;
}

.planD-placelistbox {
    position: absolute;
    width: 100%;
    height: 177px;
    top: 430px;

}

.planD-placelist {
    width: 100%;
    height: 100%;
    float: left;
    margin: auto auto auto 290px;
}

.planD-placedetail {
    width: 150px;
    height: 75px;
    display: inline-block;
    position: relative;
}

.planD-placedetail__img--navy {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 10px;
    top: 20px;
}

.planD-placedetail__span--small {
    font-family: 'InfinitySans-RegularA1';
    width: 120px;
    position: absolute;
    top: 23px;
    left: 45px;
    font-size: 18px;
    font-weight: 600;
    display: block; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
    overflow: hidden;
}

.planD-popupcontainer {
    position: absolute;
    z-index: 10;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0, 0, 0, 0.8);
    overflow: auto;
}

.planD-popbox {
    /*     width: 700px; */
	/*     height: 450px; */
	width: 800px;
	height: 520px;
    position: relative;
    z-index: 8;
    box-shadow: 3px 3px 5px black;
    margin: 150px auto;
    cursor: pointer;
    text-align: center;
}

.planD-popheadbox {
    width: 693px;
    height: 45px;
/*     border: 4px solid #abb2c7;  width: 693px;  height: 80px;  */
    position: relative;
}

.planD-popheadbox__span--big {
    position: absolute;
    top: 30px;
    left: 70px;
    color: white;
    font-size: 55px;
    font-weight: bold;
    font-family: 'InfinitySans-RegularA1';
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}


.planD-popcontentbox {
    height: 360px;
    width: 693px;
    margin: 30px auto auto -10px;
/*     border-left: 4px solid #abb2c7; */
/*     border-right: 4px solid #abb2c7; */
/*     border-bottom: 4px solid #abb2c7; */
}

.planD-popdetailbox {
	top: 70px;
	left: 45px;
    width: 100%;
    height: 60px;
    position: relative;
}

.planD-popdetailbox__span--big {
   width: 96px;
    height: 38px;
    font-size: 25px;
	color: white;
	text-shadow: 2px 2px 6px black;
    position: absolute;
    top: 38px;
    left: 125px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 4px solid black;
    font-family: 'InfinitySans-RegularA1';
    font-weight: bold;
}

.planD-popdetailbox__span--small {
    position: absolute;
    top: 44px;
    right: 255px;
    color: white;
    font-weight: bolder;
}


.planD-popdetailbox__input--gray {
    position: absolute;
    top: 36px;
    right: 100px;
    width: 350px;
    height: 40px;
    border: 2.5px solid #737373;
    font-size: 16px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 4px solid black;
}

.planD-popdetailbox__input--date {
    width: 150px;
    height: 40px;
    margin-left: 94px;
    margin-right: -49px;
    margin-top: 36px;
    border: 2.5px solid #737373;
    font-size: 14px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 4px solid black;
}

.planD-popbtnbox {
	position: relative;
	top: 100px;
	left: 130px;
}


.planD-popbtnbox__input--blue:hover {
	background: linear-gradient(to right, #75CFB8, #BBDFC8, #F0E5D8, #FFC478);
	text-shadow: 4px 2px 8px white;
	color: black;
    transition: all 0.5s; 
    box-shadow: 2px 2px 4px gray;
}

.planD-popbtnbox__input--blue {
    width: 130px;
    height: 55px;
    background-color: #4d4d33;
    color: white;
    border: none;
    border-radius: 7px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'InfinitySans-RegularA1';
    margin: 30px 25px auto auto;
    cursor: pointer;
}

.planD-popbtnbox__button--gray:hover {
	transition: all 0.5s; 
	background: black;
}
.planD-popbtnbox__button--gray {
    width: 130px;
    height: 55px;
    background-color: #a3a375;
    color: white;
    border: none;
    border-radius: 7px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'InfinitySans-RegularA1';
    margin: 30px 25px auto auto;
}



/* planInsert */
.planI-header {
    width: 100%;
    border-bottom: 1px solid #333333;
    height: 59px;
    position: relative;
}





.planI-header__button--sumbit:hover {
  color: black;
  background: transparent;
   box-shadow:none;
   text-shadow: 2px 2px 6px #75CFB8;
}
.planI-header__button--sumbit:before,
.planI-header__button--sumbit:after{
  content:'';
  position:absolute;
  margin-top: 26.2px;
  top: 51px;
  right:0;
  height:2px;
  width:0;
  background: #75CFB8;
  box-shadow:
   -1px -1px 8px 0px gray,
   7px 7px 20px 0px gray,
   4px 4px 8px 0px gray;
  transition:400ms ease all;
}
.planI-header__button--sumbit:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.planI-header__button--sumbit:hover:before,
.planI-header__button--sumbit:hover:after{
  width:100%;
  transition:800ms ease all;
}
.planI-header__button--sumbit {
    width: 100%;
    height: 80px;
    position: absolute;
    top: -27px;
    right: 0px;
    cursor: pointer;
    background: linear-gradient(to right, #75CFB8, #BBDFC8, #F0E5D8, #FFC478);
    text-shadow: 4px 2px 6px gray;
    color: white;
    border: none;
    margin-top: 27px;
    font-size: 25px;
    font-family: 'InfinitySans-RegularA1';
    font-weight: bold;
    z-index: 8;
}

.planI-header__button--close {
    width: 110px;
    height: 60px;
    position: absolute;
    top: -18px;
    right: 18px;
    cursor: pointer;
    background-color: #bfbfbf;
    color: white;
    border: none;
    border-radius: 9px;
    margin-top: 27px;
    font-size: 25px;
    font-family: 'InfinitySans-RegularA1';
    font-weight: bold;
}

.planI-container {
    width: 100%;
    height: 90%;
    border-top: none;
}

.planI-daysbox {
    width: 120px;
    height: 90%;
    position: absolute;
    left: 0px;
/*     border-right: 3px solid black; */
    background-color: #292929;
    overflow-y: scroll;
}


.planI-planscontainer {
    width: 280px;
    height: 90%;
    position: absolute;
    left: 120px;
    padding-top: 160px;
    overflow-y: hidden; 
}

.planI-plansbox {
/* 	margin-top: -79.1px; */
	bottom: 20px;
	top:0px;
	padding-top: 82px;
	position: absolute;
	background-color: #f2f2f2;
    float: left;
    left:0px;
    border-right: 1px solid #737373;
    border-bottom: 1px solid #737373;
    width: 100%;
    height: 100%;
/*     bottom: -3px; */
    overflow-y: scroll;
}

#planI-searchbox {
    border-right: 3px solid #757575;
    border-bottom: 1px solid #757575;
    width: 340px;
    height: 90%;
    font-family: 'InfinitySans-RegularA1';
    position: absolute;
    left: 400px;
    float: right;
    z-index: 2;
    overflow-y: scroll; 
}



.planI-mapbox {
    height: 90%;
    width: auto;
    position: absolute;
    top: -50px;
    right: 0px;
    left: 744px;
    padding: 22px;
}


.planI-daysboxtitle {
    height: 80px;
    border-bottom: 1px solid white;
    color: white;
    font-family: 'InfinitySans-RegularA1';
    font-size: 25px;
    text-align: center;
    line-height: 80px;
    font-weight: bold;
}


.planI-daysboxtitle--return:hover {
	 color: white;
     transition: all 0.5s; 
}

.planI-daysboxtitle--return {
    height: 80px;
    border: none;
    color: #7e8788;
    width: 100%;
    background-color: #292929;
    font-family: 'InfinitySans-RegularA1';
    font-size: 25px;
    text-align: center;
    line-height: 80px;
    font-weight: bold;
    z-index: 0;
}



.planI-daybox {
    border-bottom: 1px solid #292929;
    height: 80px;
    color: #292929;
    position: relative;
    cursor: pointer;
    font-family: 'InfinitySans-RegularA1';
    font-weight: 100px;
    background-color: #FFC478;
}

.planI-daybox:hover {
    background-color:rgba(0, 0, 0, 0.8) !important;
    color: white;
    transition: all 0.7s; 
}
.planI-daybox:hover .planI-date {
    background-color:rgba(0, 0, 0, 0.8);
    color: white;
    transition: all 0.1s; 
}

.planI-day {
    font-size: 22px;
    font-weight: bolder;
    position: absolute;
    top: 10px;
    left: 30px;
}


.planI-plansboxtitle--button {
	background-color: #ffffff;
    height: 80px;
    color: white;
    font-size: 20px;
    font-family: 'InfinitySans-RegularA1';
    font-weight: bold;
    text-align: center;
    line-height: 60px;
}

.planI-plansboxtitle {
    background-color: #4d4d4d;
    height: 78px;
    color: white;
    font-size: 20px;
    font-family: 'InfinitySans-RegularA1';
    font-weight: bold;
    text-align: center;
    line-height: 80px;
}

.planI-planbox {
    width: 100%;
    height: 160px;
    border-bottom: 1px solid #757575;
}

.planI-plannum {
    width: 55px;
    height: 100%;
    float: left;
    position: relative;
}

.planI-plannum__img-navy {
    position: absolute;
    top: 28px;
    left: 15px;
    width: 33px;
}

.planI-plannum__span--time {
    font-weight: bold;
    position: absolute;
    bottom: 55px;
    left: 18px;
    font-size: 14px;
}

.planI-plannum__span--memo {
    font-weight: bold;
    position: absolute;
    bottom: 18px;
    left: 18px;
    font-size: 14px;
}

.planI-plandetail {
    float: right;
    width: 203px;
    height: 100%;
    position: relative;

}

.planI-plandetail__span--place {
    position: absolute;
    top: 30px;
    left: 0px;
    font-size: 25px;
    font-weight: bolder;
    color: #1a1a1a;
    width: 180px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.planI-plandetail__input--time {
    position: absolute;
    bottom: 50px;
    left: 0px;
    width: 173px;
    font-size: 17px;
    font-weight: bold;
    border: 2px solid #dadce0;
    border-bottom: 2px solid black;
    font-family: 'InfinitySans-RegularA1';

}

.planI-plandetail__input--intro {
    position: absolute;
    bottom: 15px;
    left: 0px;
    width: 173px;
    height: 30px;
    font-size: 14px;
    border: 2px solid #dadce0;
    border-bottom: 2px solid black;
    font-family: 'InfinitySans-RegularA1';
    font-weight: 600;
}

.planI-plandetail__button--blue {
    position: absolute;
    top: 8px;
    right: 6px;
    width: 20px;
    height: 20px;
    border: 3px solid #dadce0;
    border-radius: 6px;
    background-color: white;
    color: #bdbdbd;
    font-size: 20px;
    font-weight: 900;
    line-height: 10px;
    text-align: center;
    padding: 0;
    cursor: pointer;
}


#planI-searchbox::-webkit-scrollbar, .planI-plansbox::-webkit-scrollbar, .planI-daysbox::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.planI-search {
    border-bottom: 1px solid #757575;
    border-left: none;
    width: 100%;
    height: 80px;
    position: relative;
    z-index: 2;
}

#keyword {
    border: 2px solid #757575;
    border-bottom: 3px solid black;
    width: 235px;
    height: 44px;
    margin: 18px 10px 0 20px;
    font-family: 'InfinitySans-RegularA1';
    font-weight: bold;
    font-size: 20px;
}


.planI-search button:hover {
	color: black;
	border: 3px solid black;
    transition: all 0.5s; 
}
.planI-search button {
    width: 60px;
    height: 45px;
    border: 3px solid #757575;
    border-radius: 6px;
    background-color: white;
    color: #757575;
    font-family: 'InfinitySans-RegularA1';
    font-weight: bold;
    cursor: pointer;
}

#planI-searchbox__ul--gray {
    width: 100%;
    margin: 0;
    padding: 0;
}

#planI-searchbox__ul--gray li {
    margin: 10px 0 10px 0;
    border-bottom: 1px solid #757575;
    list-style: none;
    width: 100%;
    height: 80px;
    position: relative;
    font-family: 'InfinitySans-RegularA1';
}


#planI-searchbox__ul--gray .markerbg {
    float: left;
    position: absolute;
    left: 15px;
    width: 36px;
    height: 37px;
    background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;
}

#planI-searchbox__ul--gray .info {
    float: right;
    width: 220px;
    height: 100%;
    position: absolute;
    left: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-family: 'InfinitySans-RegularA1';
}

#planI-searchbox__ul--gray .h5 {
    position: absolute;
    top: -17px;
    left: 10px;
    font-size: 16px;
    width: 210px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'InfinitySans-RegularA1';
}

#planI-searchbox__ul--gray span {
    position: absolute;
    left: 10px;
    bottom: 25px;
    font-size: 13px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-family: 'InfinitySans-RegularA1';
}

#planI-searchbox__ul--gray .tel {
    position: absolute;
    left: 10px;
    bottom: 5px;
    font-size: 13px;
    color: green;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-family: 'InfinitySans-RegularA1';
}

#planI-searchbox__ul--gray .item .marker_1 {
    background-position: 0 -10px;
}

#planI-searchbox__ul--gray .item .marker_2 {
    background-position: 0 -56px;
}

#planI-searchbox__ul--gray .item .marker_3 {
    background-position: 0 -102px
}

#planI-searchbox__ul--gray .item .marker_4 {
    background-position: 0 -148px;
}

#planI-searchbox__ul--gray .item .marker_5 {
    background-position: 0 -194px;
}

#planI-searchbox__ul--gray .item .marker_6 {
    background-position: 0 -240px;
}

#planI-searchbox__ul--gray .item .marker_7 {
    background-position: 0 -286px;
}

#planI-searchbox__ul--gray .item .marker_8 {
    background-position: 0 -332px;
}

#planI-searchbox__ul--gray .item .marker_9 {
    background-position: 0 -378px;
}

#planI-searchbox__ul--gray .item .marker_10 {
    background-position: 0 -423px;
}

#planI-searchbox__ul--gray .item .marker_11 {
    background-position: 0 -470px;
}

#planI-searchbox__ul--gray .item .marker_12 {
    background-position: 0 -516px;
}

#planI-searchbox__ul--gray .item .marker_13 {
    background-position: 0 -562px;
}

#planI-searchbox__ul--gray .item .marker_14 {
    background-position: 0 -608px;
}

#planI-searchbox__ul--gray .item .marker_15 {
    background-position: 0 -654px;
}

.placelist-div {
    position: absolute;
    right: 13px;
    top: 24px;
}

.placelist-div__button {
    width: 30px;
    height: 30px;
    padding: 0 2px 5px 0;
    border: 2px solid #777;
    border-radius: 5px;
    background-color: #777;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

#planI-pagination {
   	width: 100%;
    height: 70px;
    text-align: center;
    margin-top: 30px;
}

#planI-pagination a {
    display: inline-block;
    margin-right: 10px;
    font-size: 22px;
}

#planI-pagination .on {
    font-weight: bolder;
    cursor: default;
    color: #777;
}

#planI-pagination a, #planI-paginationp a:hover, #planI-pagination a:active {
    color: #000;
    text-decoration: none;
}

#planI-searchbox__ul--gray .item .marker_1 {
    background-position: 0 -10px;
}

.planI-map {
    width: 100%;
    height: 100%;
}

